

.example-container {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background: #e0e0e0;
    border: 1px solid #ddd;
    width: 50%;
    margin: 5rem 30rem 30rem 30rem;
  }
  
  .custom-dialog-actions {
    padding: 20px; /* Customize padding as needed */
  }


  ::ng-deep .mat-button {
    padding: 16px 24px;  /* Adjust the padding as needed */
  }

  .success-snackbar {
    background-color: #4caf50; /* Green for success */
    color: white; /* Text color */
  }