@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '@angular/cdk/overlay-prebuilt.css';
/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: 'Inter';
  src: url('./assets/fonts/Inter-Regular.woff2') format('woff2'),
       url('./assets/fonts/Inter-Regular.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('./assets/fonts/Inter-Bold.woff2') format('woff2'),
       url('./assets/fonts/Inter-Bold.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}


* {
  font-family:  'Inter', sans-serif ;
  -webkit-tap-highlight-color: transparent;
}



body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

h1 {
  font-weight: 700;
  font-size: 3rem;
}

h2 {
  font-weight: 500;
  font-size: 2.25rem;
}